<div class="col-lg-8">

    <br><br><br>

    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-header">
                    <img src="/uploads/avatars/{{ user.avatar }}" style="width:80px; margin-bottom:15px;">
                    
                    <h4>
                        <span>{{ user.first_name }}</span> 
                        <span>{{ user.last_name }}</span>
                    </h4>
                </div>
                <div class="card-body">
                    
                    <p>Posts: {{ posts.length }}</p>
                    <p>Comments: {{ comments.length }} </p>

                </div>
            </div>

        </div>
        <div class="col-md-8">

            <h1>Profile</h1>

        </div>
    </div>

    

</div>